@import "variables.scss";

body {
  display: map-get($flex, display);
  justify-content: map-get($flex, justify-content);
  font-family: sans-serif;
}

button {
  width: 90%;
  padding: $padding $padding*2;
  margin-bottom: $margin*4;
  border: none;
  border-radius: $border-radius;
  background: $true-color;
  color: white;
  letter-spacing: 1px;
  font-size: $main-font-size;
  outline: none;
}

form {
  display: map-get($flex, display);
  justify-content: map-get($flex, justify-content);
  box-shadow: 0 4px 16px #ccc;
  flex-direction: column;
  border-radius: $border-radius*2;
  align-items: center;
}

legend {
  color: $true-color;
}

.title {
  color: $secondary-color;
}

.container {
  display: map-get($flex, display);
  justify-content: map-get($flex, justify-content);
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding: 20px;
  letter-spacing: 1px;
}
.item {
  display: map-get($flex, display);
  flex-direction: column;
  margin: $margin $margin $margin*3 $margin;
}

.sex-span {
  margin-bottom: $margin;
}

.pre {
  font-size: $main-font-size;
  vertical-align: middle;
  margin-right: 2px;
}

input {
  border-radius: $border-radius;
  border-color: lightgray;
  padding: 3px;
  font-size: $main-font-size;
  font-style: italic;
}

.sex {
  display: map-get($flex, display);
  flex-direction: row;
  font-style: italic;
}

.attention {
  color: red;
  margin: 0;
  font-size: $main-font-size - 5;
}

.annotation {
  font-size: $main-font-size - 3;
}

select {
  overflow: hidden;
}

fieldset {
  min-width: 250px;
  border-radius: $border-radius*2;
  border-color: $true-color;
  padding: $padding*2;
}

.is-invalid {
  border-color: $error-color;
}

label {
  margin-bottom: $margin;
}

.select-input {
  border: 2px solid $secondary-color;
  border-radius: $border-radius;
  font-style: italic;
  font-size: $main-font-size;
  padding: 3px;
}

input:focus,
input:hover {
  border-color: $true-color;
  color: $true-color;
}

button:active {
  background: darkturquoise;
}

.allright {
  width: 300px;
  height: 150px;
  position: absolute;
  left: 35%;
  top:50%;
  display: map-get($flex, display);
  flex-direction: column;
  align-items: center;
  background: white;
  padding: $padding*2;
  box-shadow: 0 4px 16px #ccc;
  border-radius: $border-radius*2;
  text-align: center;
}
