$main-color: black;
$error-color: red;
$true-color: #0071f0;
$secondary-color: gray;

$margin: 5px;
$padding: 10px;

$main-font-size: 15px;

$border-radius: 5px;

$flex: (
        display: flex,
        justify-content: center,
);


